{% extends "index.html" %}
{% block content  %}
{% load static %}
<section class="userAndSeller" style="background-image: url({% static "img/pb-2-2.jpg" %});" id="nav_margin_con" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="registration__link">
                             <div class="row">
                                 <div class="col-md-6">
                                     <div class="regis_user_IMG">
                                         <img src="{% static 'img/profile.png' %}" alt="">
                                         <div class="regis_man">
                                             <h3>USER Registration</h3>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="regis_user_details">
                                     <div class="row">
                                         <div class="col-md-12">
                                            <div class="user_terms">
                                                <h4>terms and conditions</h4>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus modi
                                                    possimus laborum esse quis. Ipsa, ipsum voluptates architecto
                                                    similique officia repellat optio in quae ullam, aliquam quasi
                                                    eveniet ex illum.</p>
                                            </div>
                                         </div>
                                         <div class="col-md-12">
                                            <div class="reg_link">
                                                <a href="">User Registration</a>
                                            </div>
                                         </div>
                                     </div>  
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="registration__link" id="margin">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="regis_user_IMG">
                                        <img src="{% static 'img/profile (1).png' %}" alt="">
                                        <div class="regis_man">
                                            <h3>Seller Registration</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="regis_user_details">
                                        <div class="row">
                                            <div class="col-md-12">
                                                 <div class="user_terms">
                                                     <h4>terms and conditions</h4>
                                                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus
                                                         modi
                                                         possimus laborum esse quis. Ipsa, ipsum voluptates architecto
                                                         similique
                                                         officia repellat optio in quae ullam, aliquam quasi eveniet ex
                                                         illum.
                                                     </p>
                                                 </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="reg_link">
                                                    <a href="shopperRegis">User Registration</a>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>






    
{% endblock %}
